input {
  // Normally I would implement something more dynamic
  // to avoid removing accessibility, but for the sake
  // of simplicity, I'm brute forcing this. Please
  // let me know if you are impacted negatively by this.
  outline: none;
}
// Colors
$white: #fff;
$primary-very-light: #ddd;
$primary: #999;
$primary-dark: #333;
$danger: #fc4042;
$input-focused: #dfb521;
$input-unfocused: #a8891a;

// Timing
$transition-speed: 600ms;

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.min-max {
  &__button {
    background-color: $input-focused;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    transition: background-color $transition-speed, color $transition-speed;
    width: 240px;

    &:disabled {
      background-color: $input-unfocused;
      color: $primary-dark;
      cursor: default;
    }
  }

  &__container {
    align-items: center;
    background-color: $primary-dark;
    border: 3px solid $primary;
    border-radius: 10px;
    display: flex;
    box-shadow: #000 10px 10px 4px;
    height: 340px;
    justify-content: center;
    width: 500px;
  }

  &__form-container {
    height: 240px;
    width: 300px;
  }

  &__input-component {
    height: 110px;

    &-error {
      color: $danger;
      font-size: 12px;
      height: 50px;
    }

    &-label {
      color: $primary;
    }

    &-textfield {
      border: 3px solid $primary-very-light;
      border-radius: 5px;
      background-color: $primary-very-light;
      padding: 10px;
      height: 36px;
      margin: 10px 0 0 0;
      transition: background-color $transition-speed,
        border-color $transition-speed;
      width: 300px;

      &:focus {
        background-color: $white;
        border: 3px solid $input-focused;
      }
    }
  }
}
